include *.txt
include *.md
include *.pkl
recursive-include ./app *

include app/schemas/*.py
include app/*.py
include *.pkl
include app/VERSION
include app/config.yml

include ./requirements/requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]